
@{
    ViewBag.Title = "BuildingMaintenance";
}

<!-- PAGE HEADING : begin -->
<header class="page-heading">
    <h1 class="heading-title">Building Maintenance</h1>
    <ul class="heading-breadcrumbs">
        <li><a href="/">Home</a> /</li>
        <li>Building Maintenance</li>
    </ul>
</header>
<!-- PAGE HEADING : end -->
<section class="main-slider no-bottom-margin has-pagination has-navigation" data-interval="10000">
    <div class="slider-item-list">

        <!-- SLIDE 1 : begin -->
        <div class="slider-item">

            <!-- SLIDE 1 BACKGROUND IMAGE : begin -->
            <img class="slider-item-bg" src="/images/banners/industrialBanner1.png" alt="slide 1 background">
            <!-- SLIDE 1 BACKGROUND IMAGE : end -->

            <div class="slider-item-inner">
                <div class="slider-item-content valign-bottom">
                    <div class="wrapper">

                        <!-- SLIDE 1 CONTENT : begin -->
                        <div class="row">
                            <div class="col-md-7">
                                <h2 data-inview-animation="fadeInDown">industrial marketing text</h2>
                                <p class="big" data-inview-animation="fadeInUp">
                                    <em>
                                        or no text...like the next two
                                    </em>
                                </p>
                            </div>
                        </div>
                        <!-- SLIDE 1 CONTENT : end -->

                    </div>
                </div>
            </div>
        </div>
        <!-- SLIDE 1 : end -->
        <div class="slider-item">

            <!-- SLIDE 1 BACKGROUND IMAGE : begin -->
            <img class="slider-item-bg" src="/images/banners/industrialBanner2.png" alt="slide 2 background">
            <!-- SLIDE 1 BACKGROUND IMAGE : end -->
        </div>
        <div class="slider-item">

            <!-- SLIDE 1 BACKGROUND IMAGE : begin -->
            <img class="slider-item-bg" src="/images/banners/industrialBanner3.png" alt="slide 2 background">
            <!-- SLIDE 1 BACKGROUND IMAGE : end -->
        </div>
    </div>
</section>
<!-- WRAPPER : begin -->
<div class="wrapper">
    <div class="row">
        <div id="main-content">
            <div>
                <h3>General Contractor</h3>
                <p>
                    At Alkire Construction, we believe Building Excellence starts at the foundation of every project. Skilled crews. Professional project management and supervision. Ongoing, collaborative client involvement. These features are the difference between a clean, organized, efficient Alkire Construction project and one leaving you worried about quality, timing and costs.
                </p>
            </div>
        </div>
    </div>
    <div class="content-divider size-x-large space-medium"><hr /></div>
    <div class="row">
        <div class="col-md-6">
            <h3>Pre-Construction</h3>
            <p>
                Early completion. Under budget. Teamwork in action. This is what owners can expect when they use Alkire Construction’s Signature Series design-build delivery method. Signature Series offers the following benefits:
                <ul>
                    <li>Shorter design time frames</li>
                    <li>Shorter permitting time frames</li>
                    <li>Minimal stress on the owner</li>
                    <li>Design Cost Savings</li>
                    <li>Construction Cost Savings</li>
                    <li>Maximum Cost Control</li>
                </ul>
                In short, our design-build services offer peace of mind, cost-effective design and construction, and the ability to open for business more quickly than any other delivery method. Click here to learn more.
            </p>
        </div>
        <div class="col-md-6">
            <img src="/Images/portfolio/industrial1.png" />
        </div>
    </div>
    <div class="content-divider size-x-large space-medium"><hr /></div>
    <div class="row">
        <div class="col-md-6">
            <img src="/Images/portfolio/industrial2.png" />
        </div>
        <div class="col-md-6">
            <h3>Construction</h3>
            <p>
                At Alkire Construction, we believe Building Excellence starts at the foundation of every project. Skilled crews. Professional project management and supervision. Ongoing, collaborative client involvement. These features are the difference between a clean, organized, efficient Alkire Construction project and one leaving you worried about quality, timing and costs.
            </p>
            <p>
                At Alkire Construction, we believe Building Excellence starts at the foundation of every project. Skilled crews. Professional project management and supervision. Ongoing, collaborative client involvement. These features are the difference between a clean, organized, efficient Alkire Construction project and one leaving you worried about quality, timing and costs.
            </p>
        </div>
    </div>
</div>




