
@{
    ViewBag.Title = "Commercial";
}

<!-- PAGE HEADING : begin -->
<header class="page-heading">
    <h1 class="heading-title">Commercial</h1>
    <ul class="heading-breadcrumbs">
        <li><a href="/">Home</a> /</li>
        <li>Commercial</li>
    </ul>
</header>
<!-- PAGE HEADING : end -->
<section class="main-slider no-bottom-margin has-pagination has-navigation" data-interval="10000">
    <div class="slider-item-list">

        <!-- SLIDE 1 : begin -->
        <div class="slider-item">

            <!-- SLIDE 1 BACKGROUND IMAGE : begin -->
            <img class="slider-item-bg" src="/images/banners/industrialBanner1.png" alt="slide 1 background">
            <!-- SLIDE 1 BACKGROUND IMAGE : end -->

            <div class="slider-item-inner">
                <div class="slider-item-content valign-bottom">
                    <div class="wrapper">

                        <!-- SLIDE 1 CONTENT : begin -->
                        <div class="row">
                            <div class="col-md-7">
                                <h2 data-inview-animation="fadeInDown"></h2>
                                <p class="big" data-inview-animation="fadeInUp">
                                    <em>
                                        
                                    </em>
                                </p>
                            </div>
                        </div>
                        <!-- SLIDE 1 CONTENT : end -->

                    </div>
                </div>
            </div>
        </div>
        <!-- SLIDE 1 : end -->
        <div class="slider-item">

            <!-- SLIDE 1 BACKGROUND IMAGE : begin -->
            <img class="slider-item-bg" src="/images/banners/industrialBanner2.png" alt="slide 2 background">
            <!-- SLIDE 1 BACKGROUND IMAGE : end -->
        </div>
        <div class="slider-item">

            <!-- SLIDE 1 BACKGROUND IMAGE : begin -->
            <img class="slider-item-bg" src="/images/banners/industrialBanner3.png" alt="slide 2 background">
            <!-- SLIDE 1 BACKGROUND IMAGE : end -->
        </div>
    </div>
</section>
<!-- WRAPPER : begin -->
<div class="wrapper">
    <div class="row">
        <div id="main-content">
            <div>
                <h3>Commercial</h3>
                <p>
                    Alkire Construction has been Performing Commercial remodeling and new construction for over 30 years.  Our commercial contracts include retail spaces, professional offices, medical and surgical offices, Food Service, and metal storage warehouses.  Depending upon the size of the project, we handle most trades and phases of construction “in-house”, with our own employees, insuring high quality, quick project duration, and professionalism. 
                </p>
            </div>
        </div>
    </div>
    <div class="content-divider size-x-large space-medium"><hr /></div>
    <div class="row">
        <div class="col-md-6">
            <h3>Project Delivery Method</h3>
            <p>
                Our Project Delivery Method for Commercial Projects include:
                <ul>
                    <li>We Offer design-build services when appropriate. Working between the business owner, and architect to develop a buildable set of plans. We consult in cost estimation, constructability, and give a unique perspective often missing in the crucial, design phase of a project.</li>
                    <li>We work with business owners and managers to work around store hours if needed, and insure that business’s can remain functioning and profitable during construction.</li>
                    <li>Utilize Microsoft project to create project timelines.</li>
                </ul>
            </p>
        </div>
        <div class="col-md-6">
            <img src="/Images/portfolio/industrial1.png" />
        </div>
    </div>
    <div class="content-divider size-x-large space-medium"><hr /></div>
</div>


