@{
    ViewBag.Title = "Industrial";
}


<!-- PAGE HEADING : begin -->
<header class="page-heading">
    <h1 class="heading-title">Industrial</h1>
    <ul class="heading-breadcrumbs">
        <li><a href="/">Home</a> /</li>
        <li>Industrial</li>
    </ul>
</header>
<!-- PAGE HEADING : end -->
<section class="main-slider no-bottom-margin has-pagination has-navigation" data-interval="10000">
    <div class="slider-item-list">

        <!-- SLIDE 1 : begin -->
        <div class="slider-item">

            <!-- SLIDE 1 BACKGROUND IMAGE : begin -->
            <img class="slider-item-bg" src="/images/banners/industrialBanner1.png" alt="slide 1 background">
            <!-- SLIDE 1 BACKGROUND IMAGE : end -->

            <div class="slider-item-inner">
                <div class="slider-item-content valign-bottom">
                    <div class="wrapper">

                        <!-- SLIDE 1 CONTENT : begin -->
                        <div class="row">
                            <div class="col-md-7">
                                <h2 data-inview-animation="fadeInDown"></h2>
                                <p class="big" data-inview-animation="fadeInUp">
                                    <em>
                                    </em>
                                </p>
                            </div>
                        </div>
                        <!-- SLIDE 1 CONTENT : end -->

                    </div>
                </div>
            </div>
        </div>
        <!-- SLIDE 1 : end -->
        <div class="slider-item">

            <!-- SLIDE 1 BACKGROUND IMAGE : begin -->
            <img class="slider-item-bg" src="/images/banners/industrialBanner2.png" alt="slide 2 background">
            <!-- SLIDE 1 BACKGROUND IMAGE : end -->
        </div>
        <div class="slider-item">

            <!-- SLIDE 1 BACKGROUND IMAGE : begin -->
            <img class="slider-item-bg" src="/images/banners/industrialBanner3.png" alt="slide 2 background">
            <!-- SLIDE 1 BACKGROUND IMAGE : end -->
        </div>
    </div>
</section>
<!-- WRAPPER : begin -->
<div class="wrapper">
    <div class="row">
        <div id="main-content">
            <div>
                <h3>Industrial</h3>
                <p>
                    Alkire Construction has been Involved in industrial construction for more than 15 years. Through our contracts with Morningstar Foods,  Saputo Dairy Foods USA, and Hoya Vision. We have gone from fulfilling small maintenance needs, to building Cold storage warehouses, multi-story, and multi-use buildings. We offer a full general contracting services. 75% of the work we oversee is done by our own employees, not subcontractors, which gives us the unique ability to control work quality, employee behavior, and schedule progression.
                </p>
            </div>
        </div>
    </div>
    <div class="content-divider size-x-large space-medium"><hr /></div>
    <div class="row">
        <div class="col-md-6">
            <h3>Industrial Specific materials and methods</h3>
            <p>
                We are Members of the ISN Networld, which Maintains safety, insurance, quality and regulatory information on contractors and suppliers. This requires us to verify workman compensations for all employees, liability insurance, and actively train employees in all safety programs required by our clients and CAL/OSHA. This insures your project will be completed safely, legally, and responsibly.
                <ul>
                    <li>Chemical resistant Fuseal Plumbing.</li>
                    <li>Arcoplast Anti-Microbial Wall and ceiling systems.</li>
                    <li>Insulated metal panels.</li>
                </ul>
                In short, our design-build services offer peace of mind, cost-effective design and construction, and the ability to open for business more quickly than any other delivery method. Click here to learn more.
            </p>
            <div style='width:300px; text-align:center;'>
                <a href='http://www.isnetworld.com'>
                    <img alt='ISN Contractor Safety Management' src='http://www.isnetworld.com/images/memberCeLogo_small.png' />
                </a>
            </div>
        </div>
        <div class="col-md-6">
            <img src="/Images/portfolio/industrial1.png" />
        </div>
    </div>
    <div class="content-divider size-x-large space-medium"><hr /></div>
</div>
