@model RAM.Admin.Controllers.ViewModels.UserAccountView

@{
    ViewBag.Title = "Home Page";
}


<div class="container">
    <div class="jumbotron">
        <h1>Raven Art Media</h1>
        <p class="lead">This management tool is for you to keep your website fresh and up to date.</p>
        <p><a href="http://mailto:support@raventartmedia.com" class="btn btn-primary btn-large">Click Here For Support &raquo;</a></p>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h2>Banners</h2>
            <p>
                Generally speaking your banner images should be 1425px by 500px.  Do not exceed a height of 500px.  Make sure you take the time to upload Hi-Res images that are sharp and reflect your business. 
            </p>
            <p><a class="btn btn-default" href="/banners">Manage Banners &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Portfolio</h2>
            <p>This is were you manage all of your projects or photo gallery. Again, make sure you are uploading Hi-Res images that properly reflect your business.  Put thought into constructing the title and description, the words used will help with Search Engine Optimization </p>
            <p><a class="btn btn-default" href="/portfolio">Manage Portfolio &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Blog</h2>
            <p>Nothing helps your search engine rankings more than producing good content on a consistent basis.  Your title, SEO Keywords and Descriptions, as well as an informative body will help boost you to the top of the search results pages.</p>
            <p><a class="btn btn-default" href="/blog">Manage Blog &raquo;</a></p>
        </div>
    </div>
</div>