@{
    ViewBag.Title = "Alkire Construction - Modesto's premiere industrial, commercial, and residential general contracting company";
}



    <!-- PAGE HEADING : begin -->
    <!--<header class="page-heading">
        <h1 class="heading-title">A Premium HTML5 Portfolio Template</h1>
        <p class="heading-subtitle">Creative, Colorful & Crisp</p>
    </header> -->
    <!-- PAGE HEADING : end -->
        <!-- MAIN SLIDER : begin -->
        <section class="main-slider no-bottom-margin has-pagination has-navigation stop-on-hover" data-interval="10000">
            <div class="slider-item-list">

                <!-- SLIDE 1 : begin -->
                <div class="slider-item" data-label="GC">

                    <!-- SLIDE 1 BACKGROUND IMAGE : begin -->
                    <img class="slider-item-bg" src="/images/banner1.jpg" alt="slide 1 background">
                    <!-- SLIDE 1 BACKGROUND IMAGE : end -->

                    <div class="slider-item-inner">
                        <div class="slider-item-content valign-bottom">
                            <div class="wrapper">

                                <!-- SLIDE 1 CONTENT : begin -->
                                <div class="row">
                                    <div class="col-md-7">
                                        <h2 data-inview-animation="fadeInDown">Modern Ranch Homes</h2>
                                        <p class="big" data-inview-animation="fadeInUp">
                                            <em>
                                                Looking to bring your ranch into the <strong>21st Century</strong>,
                                                Alkire Construction can deliver!
                                            </em>
                                        </p>
                                    </div>
                                </div>
                                <!-- SLIDE 1 CONTENT : end -->

                            </div>
                        </div>
                    </div>
                </div>
                <!-- SLIDE 1 : end -->
                <!-- SLIDE 2 : begin -->
                <div class="slider-item" data-label="maintenance">

                    <!-- SLIDE 2 BACKGROUND IMAGE : begin -->
                    <img class="slider-item-bg" src="/images/banner7.jpg" alt="slide 2 background">
                    <!-- SLIDE 2 BACKGROUND IMAGE : end -->

                    <div class="slider-item-inner">
                        <div class="slider-item-content textalign-right valign-bottom">
                            <div class="wrapper">

                                <!-- SLIDE 2 CONTENT : begin -->
                                <div class="row">
                                    <div class="col-md-7 col-md-offset-5">
                                        <h2 data-inview-animation="fadeInDown">Cody Alkire</h2>
                                        <p class="big" data-inview-animation="fadeInUp">
                                            <em>
                                                Alkire Construction for all your home improvement needs.
                                            </em>
                                        </p>
                                    </div>
                                </div>
                                <!-- SLIDE 2 CONTENT : end -->

                            </div>
                        </div>
                    </div>
                </div>
                <!-- SLIDE 2 : end -->
                <!-- SLIDE 3 : begin -->
                <div class="slider-item" data-label="Residential">

                    <!-- SLIDE 3 BACKGROUND IMAGE : begin -->
                    <img class="slider-item-bg" src="/images/banner5.jpg" alt="slide 3 background">
                    <!-- SLIDE 3 BACKGROUND IMAGE : end -->

                    <div class="slider-item-inner">
                        <div class="slider-item-content textalign-right valign-bottom">
                            <div class="wrapper">

                                <!-- SLIDE 3 CONTENT : begin -->
                                <div class="row">
                                    <div class="col-md-7 col-md-offset-5">
                                        <h2 data-inview-animation="fadeInDown">Built With <a href="http://sass-lang.com/" target="_blank">lots of love</a></h2>
                                        <p class="big" data-inview-animation="fadeInUp"><em>Get the house of your dreams without moving.</em></p>
                                    </div>
                                </div>
                                <!-- SLIDE 3 CONTENT : end -->

                            </div>
                        </div>
                    </div>
                </div>
                <!-- SLIDE 3 : end -->
                <!-- SLIDE 4 : begin -->
                <div class="slider-item" data-label="Design-Build">

                    <!-- SLIDE 4 BACKGROUND IMAGE : begin -->
                    <img class="slider-item-bg" src="/images/banner6.jpg" alt="slide 4 background">
                    <!-- SLIDE 4 BACKGROUND IMAGE : end -->

                    <div class="slider-item-inner">
                        <div class="slider-item-content textalign-right valign-bottom">
                            <div class="wrapper">

                                <!-- SLIDE 4 CONTENT : begin -->
                                <div class="row">
                                    <div class="col-md-7 col-md-offset-5">
                                        <h2 data-inview-animation="fadeInDown">Cody Alkire</h2>
                                        <p class="big" data-inview-animation="fadeInUp">
                                            <em>
                                                Alkire Construction for all your home improvement needs.
                                            </em>
                                        </p>
                                    </div>
                                </div>
                                <!-- SLIDE 4 CONTENT : end -->

                            </div>
                        </div>
                    </div>
                </div>
                <!-- SLIDE 4 : end -->

                <div class="slider-item" data-label="maintenance">

                    <!-- SLIDE 2 BACKGROUND IMAGE : begin -->
                    <img class="slider-item-bg" src="/images/banner9.jpg" alt="slide 2 background">
                    <!-- SLIDE 2 BACKGROUND IMAGE : end -->

                    <div class="slider-item-inner">
                        <div class="slider-item-content textalign-right valign-bottom">
                            <div class="wrapper">

                                <!-- SLIDE 2 CONTENT : begin -->
                                <div class="row">
                                    <div class="col-md-7 col-md-offset-5">
                                        <h2 data-inview-animation="fadeInDown">Cody Alkire</h2>
                                        <p class="big" data-inview-animation="fadeInUp">
                                            <em>
                                                Alkire Construction for all your home improvement needs.
                                            </em>
                                        </p>
                                    </div>
                                </div>
                                <!-- SLIDE 2 CONTENT : end -->

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>
        <!-- MAIN SLIDER : end -->
        <!-- SERVICES SECTION : begin -->
        <section class="services-section content-box content-box-light parallaxed">
            <div class="content-box-inner">
                <div class="wrapper">

                    <!-- SERVICES : begin -->
                    <div class="row">
                        <div class="col-sm-3">

                            <!-- SERVICE 1 : begin -->
                            <div class="service-container color-light">
                                <div class="service-icon"><span><i class="ico fa fa-puzzle-piece"></i></span></div>
                                <h3 class="service-title">Industrial</h3>
                                <p>At Alkire Construction, web believe <strong>Building Excellence</strong> starts at the foundation of <strong>every project</strong>.  Skilled crews.  Professional project management and supervision.</p>
                            </div>
                            <!-- SERVICE 1 : end -->

                        </div>
                        <div class="col-sm-3">

                            <!-- SERVICE 2 : begin -->
                            <div class="service-container color-light">
                                <div class="service-icon"><span><i class="ico fa fa-home"></i></span></div>
                                <h3 class="service-title">Commercial</h3>
                                <p>
                                    Early completion, <strong>under budget</strong> and <strong>teamwork in action.</strong> This is what owners can expect when they use Alkire Construction's design-build delivery method known as our Signature Series.
                                </p>
                            </div>
                            <!-- SERVICE 2 : end -->

                        </div>
                        <div class="col-sm-3">

                            <!-- SERVICE 3 : begin -->
                            <div class="service-container color-light">
                                <div class="service-icon"><span><i class="ico fa fa-bullhorn"></i></span></div>
                                <h3 class="service-title">Residential</h3>
                                <p>We provide project and construction mangement services specializing in schools, justice facilities, hospitals, and other <strong>public projects</strong>.</p>
                            </div>
                            <!-- SERVICE 3 : end -->

                        </div>
                        <div class="col-sm-3">

                            <!-- SERVICE 4 : begin -->
                            <div class="service-container color-light">
                                <div class="service-icon"><span><i class="ico fa fa-building-o"></i></span></div>
                                <h3 class="service-title">Building Maintenance</h3>
                                <p>We now offer our restoration services in a time when you need us most. The <strong>Alkire Restoration DKI</strong> team is skilled in the fields of commercial, residential and multi-family properties.</p>
                            </div>
                            <!-- SERVICE 4 : end -->

                        </div>
                    </div>
                    <!-- SERVICES : end -->
                    <!-- CONTENT DIVIDER : begin -->
                    <div class="content-divider color-light size-small space-medium has-icon"><hr><i class="ico fa fa-star-o"></i></div>
                    <!-- CONTENT DIVIDER : end -->
                    <!-- COUNTERS : begin -->
                    <div class="row">
                        <div class="col-sm-3">

                            <!-- COUNTER 1 : begin -->
                            <div class="counter-container color-light">
                                <strong>
                                    <span class="counter">
                                        <span class="counter-data" data-duration="1000">1500</span>+
                                    </span>
                                    <span class="counter-label">homes renovated</span>
                                </strong>
                            </div>
                            <!-- COUNTER 1 : end -->

                        </div>
                        <div class="col-sm-3">

                            <!-- COUNTER 2 : begin -->
                            <div class="counter-container color-light">
                                <strong>
                                    <span class="counter">
                                        <span class="counter-data" data-duration="1000">1000</span>+
                                    </span>
                                    <span class="counter-label">foundations poured</span>
                                </strong>
                            </div>
                            <!-- COUNTER 2 : end -->

                        </div>
                        <div class="col-sm-3">

                            <!-- COUNTER 3 : begin -->
                            <div class="counter-container color-light">
                                <strong>
                                    <span class="counter">
                                        <span class="counter-data" data-duration="1000">40</span>+
                                    </span>
                                    <span class="counter-label">years experience</span>
                                </strong>
                            </div>
                            <!-- COUNTER 3 : end -->

                        </div>
                        <div class="col-sm-3">

                            <!-- COUNTER 4 : begin -->
                            <div class="counter-container color-light">
                                <strong>
                                    <span class="counter">
                                        <span class="counter-data" data-duration="1000">12</span>
                                    </span>
                                    <span class="counter-label">times better than them</span>
                                </strong>
                            </div>
                            <!-- COUNTER 4 : end -->

                        </div>
                    </div>
                    <!-- COUNTERS : end -->

                </div>
            </div>
        </section>
        <!-- SERVICES SECTION : end -->
        <!-- PORTFOLIO SECTION : begin -->
        <section class="portfolio-section">

            <div class="wrapper">
                <div class="row">
                    <div class="col-sm-6">

                        <!-- SECTION HEADING : begin -->
                        <header class="section-heading">
                            <h2 class="heading-title">Portfolio</h2>
                            <p class="heading-subtitle">Latest Projects</p>
                        </header>
                        <!-- SECTION HEADING : end -->

                    </div>
                    <div class="col-sm-6">

                        <!-- SECTION MORE TOP : begin -->
                        <div class="section-more-top">
                            <a href="portfolio-grid-2.html" class="button size-medium">View All Projects</a>
                        </div>
                        <!-- SECTION MORE TOP : end -->

                    </div>
                </div>
            </div>

            <!-- PORTFOLIO GALLERY : begin -->
            <div class="portfolio-gallery layout-horizontal-strip ajaxed" data-items="5" data-items-desktop="5" data-items-desktop-small="4" data-items-tablet="3" data-items-mobile="1">
                <div class="gallery-list">

                    <!-- ITEM 1 : begin -->
                    <div class="gallery-item">
                        <div class="gallery-item-inner">
                            <a class="item-thumb" href="portfolio-detail-list.html"><img src="/images/portfolio/project1.jpg" alt="Project 1"></a>
                            <div class="item-info">
                                <h4 class="item-title"><a href="portfolio-detail-list.html">Project 1</a></h4>
                                <div class="item-tools">
                                    <a href="portfolio-detail-list.html"><i class="fa fa-link"></i></a>
                                    <a class="lightbox" href="/images/portfolio/project1.jpg" data-lightbox-group="home-projects"><i class="fa fa-expand"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ITEM 1 : end -->
                    <!-- ITEM 2 : begin -->
                    <div class="gallery-item">
                        <div class="gallery-item-inner">
                            <a class="item-thumb" href="portfolio-detail-list-right.html"><img src="/images/portfolio/project2.jpg" alt="Project 2"></a>
                            <div class="item-info">
                                <h4 class="item-title"><a href="portfolio-detail-list.html">Project 2</a></h4>
                                <div class="item-tools">
                                    <a href="portfolio-detail-list.html"><i class="fa fa-link"></i></a>
                                    <a class="lightbox" href="/images/portfolio/project2.jpg" data-lightbox-group="home-projects"><i class="fa fa-expand"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ITEM 2 : end -->
                    <!-- ITEM 3 : begin -->
                    <div class="gallery-item">
                        <div class="gallery-item-inner">
                            <a class="item-thumb" href="portfolio-detail-slider.html"><img src="/images/portfolio/project3.jpg" alt="Project 3"></a>
                            <div class="item-info">
                                <h4 class="item-title"><a href="portfolio-detail-list.html">Project 3</a></h4>
                                <div class="item-tools">
                                    <a href="portfolio-detail-list.html"><i class="fa fa-link"></i></a>
                                    <a class="lightbox" href="/images/portfolio/project3.jpg" data-lightbox-group="home-projects"><i class="fa fa-expand"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ITEM 3 : end -->
                    <!-- ITEM 4 : begin -->
                    <div class="gallery-item">
                        <div class="gallery-item-inner">
                            <a class="item-thumb" href="portfolio-detail-slider-left.html"><img src="/images/portfolio/project4.jpg" alt="Project 4"></a>
                            <div class="item-info">
                                <h4 class="item-title"><a href="portfolio-slider-left.html">Project 4</a></h4>
                                <div class="item-tools">
                                    <a href="portfolio-slider-left.html"><i class="fa fa-link"></i></a>
                                    <a class="lightbox" href="/images/portfolio/project4.jpg" data-lightbox-group="home-projects"><i class="fa fa-expand"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ITEM 4 : end -->
                    <!-- ITEM 5 : begin -->
                    <div class="gallery-item">
                        <div class="gallery-item-inner">
                            <a class="item-thumb" href="portfolio-detail-slider-left.html"><img src="/images/portfolio/project5.jpg" alt="Project 5"></a>
                            <div class="item-info">
                                <h4 class="item-title"><a href="portfolio-slider-left.html">Project 5</a></h4>
                                <div class="item-tools">
                                    <a href="portfolio-slider-left.html"><i class="fa fa-link"></i></a>
                                    <a class="lightbox" href="/images/portfolio/project5.jpg" data-lightbox-group="home-projects"><i class="fa fa-expand"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ITEM 5 : begin -->
                    <!-- ITEM 6 : begin -->
                    <div class="gallery-item">
                        <div class="gallery-item-inner">
                            <a class="item-thumb" href="portfolio-detail-list.html"><img src="/images/portfolio/project6.jpg" alt="Project 6"></a>
                            <div class="item-info">
                                <h4 class="item-title"><a href="portfolio-detail-list.html">Project 6</a></h4>
                                <div class="item-tools">
                                    <a href="portfolio-detail-list.html"><i class="fa fa-link"></i></a>
                                    <a class="lightbox" href="/images/portfolio/project6.jpg" data-lightbox-group="home-projects"><i class="fa fa-expand"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ITEM 6 : begin -->
                    <!-- ITEM 7 : begin -->
                    <div class="gallery-item">
                        <div class="gallery-item-inner">
                            <a class="item-thumb" href="portfolio-detail-list.html"><img src="/images/portfolio/project7.jpg" alt="Project 7"></a>
                            <div class="item-info">
                                <h4 class="item-title"><a href="portfolio-detail-list.html">Project 7</a></h4>
                                <div class="item-tools">
                                    <a href="portfolio-detail-list.html"><i class="fa fa-link"></i></a>
                                    <a class="lightbox" href="/images/portfolio/project7.jpg" data-lightbox-group="home-projects"><i class="fa fa-expand"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ITEM 7 : end -->
                    <!-- ITEM 8 : begin -->
                    <div class="gallery-item">
                        <div class="gallery-item-inner">
                            <a class="item-thumb" href="portfolio-detail-list.html"><img src="/images/portfolio/project8.jpg" alt="Project 8"></a>
                            <div class="item-info">
                                <h4 class="item-title"><a href="portfolio-detail-list.html">Project 8</a></h4>
                                <div class="item-tools">
                                    <a href="portfolio-detail-list.html"><i class="fa fa-link"></i></a>
                                    <a class="lightbox" href="/images/portfolio/project8.jpg" data-lightbox-group="home-projects"><i class="fa fa-expand"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ITEM 8 : end -->
                    <!-- ITEM 9 : begin -->
                    <div class="gallery-item">
                        <div class="gallery-item-inner">
                            <a class="item-thumb" href="portfolio-detail-list.html"><img src="/images/portfolio/project9.jpg" alt="Project 9"></a>
                            <div class="item-info">
                                <h4 class="item-title"><a href="portfolio-detail-list.html">Project 9</a></h4>
                                <div class="item-tools">
                                    <a href="portfolio-detail-list.html"><i class="fa fa-link"></i></a>
                                    <a class="lightbox" href="/images/portfolio/project9.jpg" data-lightbox-group="home-projects"><i class="fa fa-expand"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ITEM 9 : end -->
                    <!-- ITEM 10 : begin -->
                    <div class="gallery-item">
                        <div class="gallery-item-inner">
                            <a class="item-thumb" href="portfolio-detail-list.html"><img src="/images/portfolio/project10.jpg" alt="Project 10"></a>
                            <div class="item-info">
                                <h4 class="item-title"><a href="portfolio-detail-list.html">Project 10</a></h4>
                                <div class="item-tools">
                                    <a href="portfolio-detail-list.html"><i class="fa fa-link"></i></a>
                                    <a class="lightbox" href="/images/portfolio/project10.jpg" data-lightbox-group="home-projects"><i class="fa fa-expand"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ITEM 10 : end -->

                </div>
            </div>
            <!-- PORTFOLIO GALLERY : begin -->
            <div class="wrapper">
                <!-- SECTION MORE BOTTOM : begin -->
                <div class="section-more-bottom">
                    <a href="portfolio-grid-2.html" class="button size-medium">View All Projects</a>
                </div>
                <!-- SECTION MORE BOTTOM : end -->
            </div>

        </section>
        <!-- PORTFOLIO SECTION : end -->




    
    

