@model RAM.Controllers.ViewModels.HomeView

@{
    ViewBag.Title = "Alkire Construction - Modesto's premiere industrial, commercial, and residential general contracting company";
}

        <!-- MAIN SLIDER : begin -->

        @Html.Action("Banners", "Home")
        
        <!-- MAIN SLIDER : end -->
        <!-- SERVICES SECTION : begin -->
        <section class="services-section content-box content-box-light parallaxed">
            <div class="content-box-inner">
                <div class="wrapper">

                    <!-- SERVICES : begin -->
                    <div class="row">
                        <div class="col-sm-3">

                            <!-- SERVICE 1 : begin -->
                            <div class="service-container color-light">
                                <div class="service-icon"><span><i class="ico fa fa-puzzle-piece"></i></span></div>
                                <h3 class="service-title">Industrial</h3>
                                <p>At Alkire Construction, web believe <strong>Building Excellence</strong> starts at the foundation of <strong>every project</strong>.  Skilled crews.  Professional project management and supervision.</p>
                            </div>
                            <!-- SERVICE 1 : end -->

                        </div>
                        <div class="col-sm-3">

                            <!-- SERVICE 2 : begin -->
                            <div class="service-container color-light">
                                <div class="service-icon"><span><i class="ico fa fa-home"></i></span></div>
                                <h3 class="service-title">Commercial</h3>
                                <p>
                                    Early completion, <strong>under budget</strong> and <strong>teamwork in action.</strong> This is what owners can expect when they use Alkire Construction's design-build delivery method known as our Signature Series.
                                </p>
                            </div>
                            <!-- SERVICE 2 : end -->

                        </div>
                        <div class="col-sm-3">

                            <!-- SERVICE 3 : begin -->
                            <div class="service-container color-light">
                                <div class="service-icon"><span><i class="ico fa fa-bullhorn"></i></span></div>
                                <h3 class="service-title">Residential</h3>
                                <p>We provide project and construction mangement services specializing in schools, justice facilities, hospitals, and other <strong>public projects</strong>.</p>
                            </div>
                            <!-- SERVICE 3 : end -->

                        </div>
                        <div class="col-sm-3">

                            <!-- SERVICE 4 : begin -->
                            <div class="service-container color-light">
                                <div class="service-icon"><span><i class="ico fa fa-building-o"></i></span></div>
                                <h3 class="service-title">Building Maintenance</h3>
                                <p>We now offer our restoration services in a time when you need us most. The <strong>Alkire Restoration DKI</strong> team is skilled in the fields of commercial, residential and multi-family properties.</p>
                            </div>
                            <!-- SERVICE 4 : end -->

                        </div>
                    </div>
                    <!-- SERVICES : end -->
                    <!-- CONTENT DIVIDER : begin -->
                    <div class="content-divider color-light size-small space-medium has-icon"><hr><i class="ico fa fa-star-o"></i></div>
                    <!-- CONTENT DIVIDER : end -->
                    <!-- COUNTERS : begin -->
                    <div class="row">
                        <div class="col-sm-3">

                            <!-- COUNTER 1 : begin -->
                            <div class="counter-container color-light">
                                <strong>
                                    <span class="counter">
                                        <span class="counter-data" data-duration="1000">1500</span>+
                                    </span>
                                    <span class="counter-label">homes renovated</span>
                                </strong>
                            </div>
                            <!-- COUNTER 1 : end -->

                        </div>
                        <div class="col-sm-3">

                            <!-- COUNTER 2 : begin -->
                            <div class="counter-container color-light">
                                <strong>
                                    <span class="counter">
                                        <span class="counter-data" data-duration="1000">1000</span>+
                                    </span>
                                    <span class="counter-label">foundations poured</span>
                                </strong>
                            </div>
                            <!-- COUNTER 2 : end -->

                        </div>
                        <div class="col-sm-3">

                            <!-- COUNTER 3 : begin -->
                            <div class="counter-container color-light">
                                <strong>
                                    <span class="counter">
                                        <span class="counter-data" data-duration="1000">40</span>+
                                    </span>
                                    <span class="counter-label">years experience</span>
                                </strong>
                            </div>
                            <!-- COUNTER 3 : end -->

                        </div>
                        <div class="col-sm-3">

                            <!-- COUNTER 4 : begin -->
                            <div class="counter-container color-light">
                                <strong>
                                    <span class="counter">
                                        <span class="counter-data" data-duration="1000">12</span>
                                    </span>
                                    <span class="counter-label">times better than them</span>
                                </strong>
                            </div>
                            <!-- COUNTER 4 : end -->

                        </div>
                    </div>
                    <!-- COUNTERS : end -->

                </div>
            </div>
        </section>
        <!-- SERVICES SECTION : end -->
        <!-- PORTFOLIO SECTION : begin -->
        <section class="portfolio-section">

            <div class="wrapper">
                <div class="row">
                    <div class="col-sm-6">

                        <!-- SECTION HEADING : begin -->
                        <header class="section-heading">
                            <h2 class="heading-title">Portfolio</h2>
                            <p class="heading-subtitle">Latest Projects</p>
                        </header>
                        <!-- SECTION HEADING : end -->

                    </div>
                    <div class="col-sm-6">

                        <!-- SECTION MORE TOP : begin -->
                        <div class="section-more-top">
                            <a href="/Projects" class="button size-medium">View All Projects</a>
                        </div>
                        <!-- SECTION MORE TOP : end -->

                    </div>
                </div>
            </div>

            <!-- PORTFOLIO GALLERY : begin -->
            @Html.Action("Portfolio", "Home")
            <!-- PORTFOLIO GALLERY : end -->
            <div class="wrapper">
                <!-- SECTION MORE BOTTOM : begin -->
                <div class="section-more-bottom">
                    <a href="portfolio-grid-2.html" class="button size-medium">View All Projects</a>
                </div>
                <!-- SECTION MORE BOTTOM : end -->
            </div>

        </section>
        <!-- PORTFOLIO SECTION : end -->




    
    

