
@{
    ViewBag.Title = "Alkire Construction - Modesto California's Premiere General Contracting Company ";
}

<!-- PAGE HEADING : begin -->
<header class="page-heading">
    <h1 class="heading-title">About</h1>
    <ul class="heading-breadcrumbs">
        <li><a href="/">Home</a> /</li>
        <li>Our Team</li>
    </ul>
</header>
<!-- PAGE HEADING : end -->
<section class="main-slider no-bottom-margin has-pagination has-navigation" data-interval="10000">
    <div class="slider-item-list">

        <!-- SLIDE 1 : begin -->
        <div class="slider-item">

            <!-- SLIDE 1 BACKGROUND IMAGE : begin -->
            <img class="slider-item-bg" src="/images/banners/industrialBanner1.png" alt="slide 1 background">
            <!-- SLIDE 1 BACKGROUND IMAGE : end -->

            <div class="slider-item-inner">
                <div class="slider-item-content valign-bottom">
                    <div class="wrapper">

                        <!-- SLIDE 1 CONTENT : begin -->
                        <div class="row">
                            <div class="col-md-7">
                                <h2 data-inview-animation="fadeInDown">industrial marketing text</h2>
                                <p class="big" data-inview-animation="fadeInUp">
                                    <em>
                                        or no text...like the next two
                                    </em>
                                </p>
                            </div>
                        </div>
                        <!-- SLIDE 1 CONTENT : end -->

                    </div>
                </div>
            </div>
        </div>
        <!-- SLIDE 1 : end -->
        <div class="slider-item">

            <!-- SLIDE 1 BACKGROUND IMAGE : begin -->
            <img class="slider-item-bg" src="/images/banners/industrialBanner2.png" alt="slide 2 background">
            <!-- SLIDE 1 BACKGROUND IMAGE : end -->
        </div>
        <div class="slider-item">

            <!-- SLIDE 1 BACKGROUND IMAGE : begin -->
            <img class="slider-item-bg" src="/images/banners/industrialBanner3.png" alt="slide 2 background">
            <!-- SLIDE 1 BACKGROUND IMAGE : end -->
        </div>
    </div>
</section>

<!-- WRAPPER : begin -->
<div class="wrapper">
    <div class="row">
        <div id="main-content">
            <div>
                <h3>Alkire History</h3>
                <p>
                    At Alkire Construction, we believe Building Excellence starts at the foundation of every project. Skilled crews. Professional project management and supervision. Ongoing, collaborative client involvement. These features are the difference between a clean, organized, efficient Alkire Construction project and one leaving you worried about quality, timing and costs.
                </p>
                <p>
                    At Alkire Construction, we believe Building Excellence starts at the foundation of every project. Skilled crews. Professional project management and supervision. Ongoing, collaborative client involvement. These features are the difference between a clean, organized, efficient Alkire Construction project and one leaving you worried about quality, timing and costs.  At Alkire Construction, we believe Building Excellence starts at the foundation of every project. Skilled crews. Professional project management and supervision. Ongoing, collaborative client involvement. These features are the difference between a clean, organized, efficient Alkire Construction project and one leaving you worried about quality, timing and costs.
                </p>
                <p>
                    At Alkire Construction, we believe Building Excellence starts at the foundation of every project. Skilled crews. Professional project management and supervision. Ongoing, collaborative client involvement. These features are the difference between a clean, organized, efficient Alkire Construction project and one leaving you worried about quality, timing and costs.
                </p>
            </div>

            <div class="content-divider size-small space-x-large has-icon"><i class="ico fa fa-puzzle-piece"></i><hr></div>
            <a class="anchor" id="persons"></a>
            <h2>Our Team</h2>

            <div class="row">
                <div class="col-sm-4">

                    <!-- PERSON 1 : begin -->
                    <div class="person-container">
                        <p class="person-portrait"><img src="/images/codydadprofile.jpg" alt="Cody Dad"></p>
                        <h4 class="person-name">Cody's Dad</h4>
                        <h5 class="person-title">Owner</h5>
                        <ul class="social-icons">
                            <li><a href="#" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#" title="Pinterest"><i class="fa fa-pinterest"></i></a></li>
                        </ul>
                        <div class="content-divider size-small"><hr></div>
                        <div class="person-info">
                            <p>Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo.</p>
                        </div>
                    </div>
                    <!-- PERSON 1 : end -->

                </div>
                <div class="col-sm-4">

                    <!-- PERSON 2 : begin -->
                    <div class="person-container">
                        <p class="person-portrait"><img src="/images/codyprofile.jpg" alt="Cody Alkire"></p>
                        <h4 class="person-name">Cody Alkire</h4>
                        <h5 class="person-title">Manager</h5>
                        <ul class="social-icons">
                            <li><a href="#" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#" title="Pinterest"><i class="fa fa-pinterest"></i></a></li>
                        </ul>
                        <div class="content-divider size-small"><hr></div>
                        <div class="person-info">
                            <p>Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum.</p>
                        </div>
                    </div>
                    <!-- PERSON 2 : end -->

                </div>
                <div class="col-sm-4">

                    <!-- PERSON 3 : begin -->
                    <div class="person-container">
                        <p class="person-portrait"><img src="/images/ariannaprofile.jpg" alt="Arianna Alkire"></p>
                        <h4 class="person-name">Arianna Alkire</h4>
                        <h5 class="person-title">Secretary</h5>
                        <ul class="social-icons">
                            <li><a href="#" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#" title="Pinterest"><i class="fa fa-pinterest"></i></a></li>
                        </ul>
                        <div class="content-divider size-small"><hr></div>
                        <div class="person-info">
                            <p>Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim.</p>
                        </div>
                    </div>
                    <!-- PERSON 3 : end -->

                </div>
            </div>
        </div>
    </div>
</div>
<!--WRAPPER : end -->