@using RAM.Core.Domain.Blog;
@model RAM.Controllers.ViewModels.HomeView
@{
    ViewBag.Title = "Alkire Construction | Perfomance Management Software Blog";
}

<section class='section-wrapper posts-w'>
    <div class='container'>
        <div class='row'>
    @Html.Partial("BlogList", Model)
    @Html.Action("Sidebar", "Blog")
        </div>
    </div>
</section>