@using RAM.Core.Domain.Blog;
@model RAM.Controllers.ViewModels.BlogView
@{
    ViewBag.Title = "Alkire Construction | General Contracting Blog";
}

<section class='section-wrapper posts-w'>
    <div class='container'>
        <div class='row'>
    @Html.Action("GetList", "Blog")
    @*@Html.Action("Sidebar", "Blog")*@
        </div>
    </div>
</section>