

<div class="col-md-3 sidebar-column">
    <!-- SIDEBAR : begin -->
    <aside id="sidebar">
        <ul class="widget-list">

            <!-- MENU WIDGET : begin -->
            @Html.Partial("_Categories")
            <!-- MENU WIDGET : end -->
            <!-- POSTS WIDGET : begin -->
            
            <!-- POSTS WIDGET : end -->
            <!-- INSTAGRAM WIDGET : begin -->
            <li class="widget images-feed-widget">
                <h3 class="widget-title">Instagram</h3>
                <div class="widget-content">
                    <div class="widget-content-inner">
                        <div class="instagram-feed loading" data-id="262455397" data-limit="9"><span class="loading-anim"><span></span></span></div>
                    </div>
                </div>
            </li>
            <!-- INSTAGRAM WIDGET : end -->
            <!-- FLICKR WIDGET : begin -->
            <li class="widget images-feed-widget">
                <h3 class="widget-title">FLICKR</h3>
                <div class="widget-content">
                    <div class="widget-content-inner">
                        <div class="flickr-feed loading" data-id="117737192@N04" data-limit="9"><span class="loading-anim"><span></span></span></div>
                    </div>
                </div>
            </li>
            <!-- FLICKR WIDGET : end -->

        </ul>
    </aside>
    <!-- SIDEBAR : end -->
</div>
