@using RAM.Core.Domain.Project;
@using RAM.Controllers.ViewModels;
@model ProjectView

@{
    ViewBag.Title = "Alkire Construction - Modesto Industrial, Commercial, and Residential General Contracting Projects";
}

<!-- PAGE HEADING : begin -->
<header class="page-heading">
    <h1 class="heading-title">Projects</h1>
    <ul class="heading-breadcrumbs">
        <li><a href="index.html">Home</a> /</li>
        <li>Projects</li>
    </ul>
</header>
<!-- PAGE HEADING : end -->
<!-- MAIN CONTENT : begin -->
<div id="main-content">
    <div class="wrapper">

        <!-- PORTFOLIO LIST : begin -->
        <section class="portfolio-list">

            <!-- PORTFOLIO GALLERY : begin -->
            <div class="portfolio-gallery layout-masonry columns-3">

                <!-- CATEGORY LIST : begin -->
                <ul class="category-list">
                    <li><a href="#" class="active" data-category="*">All</a></li>
                    <li><a href="#" data-category="category-Industrial">Industrial</a></li>
                    <li><a href="#" data-category="category-Commercial">Commercial</a></li>
                    <li><a href="#" data-category="category-Residential">Residential</a></li>
                    <li><a href="#" data-category="category-BuildingMaintenance">Building Maintenance</a></li>
                </ul>
                <!-- CATEGORY LIST : end -->
                <!-- GALLERY LIST : begin -->
                <div class="gallery-list">
                    
                    @foreach (var item in Model.Projects) 
                    {
                        <div class="gallery-item category-@Enum.GetName(typeof(ProjectType), item.Category)">
                            <div class="gallery-item-inner">
                                <a class="item-thumb" href="/projects/@Enum.GetName(typeof(ProjectType),item.Category)/@item.Title.Replace(" ", "-")"><img src="@item.DefaultImagePath" alt=""></a>
                                <div class="item-info">
                                    <h4 class="item-title"><a href="/projects/@Enum.GetName(typeof(ProjectType),item.Category)/@item.Title.Replace(" ", "-")">@item.Title</a></h4>
                                    <div class="item-tools">
                                        <a class="lightbox" href="@item.DefaultImagePath" data-lightbox-group="portfolio-projects"><i class="fa fa-expand"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <!-- GALLERY LIST : end -->

                <p class="loading-anim-container">
                    <span class="loading-anim"><span></span></span>
                </p>

            </div>
            <!-- PORTFOLIO GALLERY : begin -->

        </section>
        <!-- PORTFOLIO LIST : end -->
        <!-- PAGINATION : begin -->
        <ul class="pagination">
            <li><a href="#" class="active">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
        </ul>
        <!-- PAGINATION : end -->

    </div>
</div>
<!-- MAIN CONTENT : end -->


