
@{
    ViewBag.Title = "Index";
}

<!-- PAGE HEADING : begin -->
<header class="page-heading">
    <h1 class="heading-title">Projects</h1>
    <ul class="heading-breadcrumbs">
        <li><a href="index.html">Home</a> /</li>
        <li>Projects</li>
    </ul>
</header>
<!-- PAGE HEADING : end -->
<!-- MAIN CONTENT : begin -->
<div id="main-content">
    <div class="wrapper">

        <!-- PORTFOLIO LIST : begin -->
        <section class="portfolio-list">

            <!-- PORTFOLIO GALLERY : begin -->
            <div class="portfolio-gallery layout-masonry columns-3">

                <!-- CATEGORY LIST : begin -->
                <ul class="category-list">
                    <li><a href="#" class="active" data-category="*">All</a></li>
                    <li><a href="#" data-category="category-illustration">Industrial</a></li>
                    <li><a href="#" data-category="category-print">Commercial</a></li>
                    <li><a href="#" data-category="category-various">Residential</a></li>
                    <li><a href="#" data-category="category-buildingmaintenance">Building Maintenance</a></li>
                </ul>
                <!-- CATEGORY LIST : end -->
                <!-- GALLERY LIST : begin -->
                <div class="gallery-list">
                    

                    <!-- ITEM 1 : begin -->
                    <div class="gallery-item category-various">
                        <div class="gallery-item-inner">
                            <a class="item-thumb" href="/projects/Industrial/Modesto-Concrete-Factory"><img src="/images/portfolio/project1.jpg" alt=""></a>
                            <div class="item-info">
                                <h4 class="item-title"><a href="/projects/Industrial/Modesto-Concrete-Factory">Modesto Concrete Factory</a></h4>
                                <div class="item-tools">
                                    <a class="lightbox" href="/images/portfolio/project1.jpg" data-lightbox-group="portfolio-projects"><i class="fa fa-expand"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ITEM 1 : end -->
                    <!-- ITEM 2 : begin -->
                    <div class="gallery-item category-illustration category-print">
                        <div class="gallery-item-inner">
                            <a class="item-thumb" href="portfolio-detail-list.html"><img src="/images/portfolio/project2.jpg" alt=""></a>
                            <div class="item-info">
                                <h4 class="item-title"><a href="portfolio-detail-list.html">Photography 2</a></h4>
                                <div class="item-tools">
                                    <a class="lightbox" href="/images/portfolio/project2.jpg" data-lightbox-group="portfolio-projects"><i class="fa fa-expand"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ITEM 2 : end -->
                    <!-- ITEM 3 : begin -->
                    <div class="gallery-item category-various">
                        <div class="gallery-item-inner">
                            <a class="item-thumb" href="portfolio-detail-list.html"><img src="/images/portfolio/project3.jpg" alt=""></a>
                            <div class="item-info">
                                <h4 class="item-title"><a href="portfolio-detail-list.html">Photography 3</a></h4>
                                <div class="item-tools">
                                    <a class="lightbox" href="/images/portfolio/project3.jpg" data-lightbox-group="portfolio-projects"><i class="fa fa-expand"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ITEM 3 : end -->
                    <!-- ITEM 4 : begin -->
                    <div class="gallery-item category-various category-illustration">
                        <div class="gallery-item-inner">
                            <a class="item-thumb" href="portfolio-detail-list.html"><img src="/images/portfolio/project4.jpg" alt=""></a>
                            <div class="item-info">
                                <h4 class="item-title"><a href="portfolio-detail-list.html">Photography 4</a></h4>
                                <div class="item-tools">
                                    <a class="lightbox" href="/images/portfolio/project4.jpg" data-lightbox-group="portfolio-projects"><i class="fa fa-expand"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ITEM 4 : end -->
                    <!-- ITEM 5 : begin -->
                    <div class="gallery-item category-illustration category-various">
                        <div class="gallery-item-inner">
                            <a class="item-thumb" href="portfolio-detail-list.html"><img src="/images/portfolio/project5.jpg" alt=""></a>
                            <div class="item-info">
                                <h4 class="item-title"><a href="portfolio-detail-list.html">Photography 5</a></h4>
                                <div class="item-tools">
                                    <a class="lightbox" href="/images/portfolio/project5.jpg" data-lightbox-group="portfolio-projects"><i class="fa fa-expand"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ITEM 5 : begin -->
                    <!-- ITEM 6 : begin -->
                    <div class="gallery-item category-print">
                        <div class="gallery-item-inner">
                            <a class="item-thumb" href="portfolio-detail-list.html"><img src="/images/portfolio/project8.jpg" alt=""></a>
                            <div class="item-info">
                                <h4 class="item-title"><a href="portfolio-detail-list.html">Photography 6</a></h4>
                                <div class="item-tools">
                                    <a class="lightbox" href="/images/portfolio/project8.jpg" data-lightbox-group="portfolio-projects"><i class="fa fa-expand"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ITEM 6 : begin -->
                    <!-- ITEM 7 : begin -->
                    <div class="gallery-item category-print">
                        <div class="gallery-item-inner">
                            <a class="item-thumb" href="portfolio-detail-list.html"><img src="/images/portfolio/project7.jpg" alt=""></a>
                            <div class="item-info">
                                <h4 class="item-title"><a href="portfolio-detail-list.html">Photography 7</a></h4>
                                <div class="item-tools">
                                    <a class="lightbox" href="/images/portfolio/project7.jpg" data-lightbox-group="portfolio-projects"><i class="fa fa-expand"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ITEM 7 : end -->

                </div>
                <!-- GALLERY LIST : end -->

                <p class="loading-anim-container">
                    <span class="loading-anim"><span></span></span>
                </p>

            </div>
            <!-- PORTFOLIO GALLERY : begin -->

        </section>
        <!-- PORTFOLIO LIST : end -->
        <!-- PAGINATION : begin -->
        <ul class="pagination">
            <li><a href="#" class="active">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
        </ul>
        <!-- PAGINATION : end -->

    </div>
</div>
<!-- MAIN CONTENT : end -->


