
@model RAM.Admin.Controllers.ViewModels.HomeView


<table class="table table-hover">
    <thead>
        <tr>
            <th class="col-sm-1">
                Name
            </th>
            <th class="col-sm-2">
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var tag in Model.Tags)
        {
            <tr>
                <td>
                    <span id="name_@tag.ID">
                        @tag.Name
                    </span>
                </td>
                <td>
                    <a id="blogTagsEdit_@tag.ID" href="#tagModal" class="editTagsModal btn btn-info" role="button" data-toggle="modal" data-id="@tag.ID">Edit</a>
                    <button class="deleteTag btn btn-danger" data-id="@tag.ID" type="button">Delete</button>
                </td>
            </tr>
        }
    </tbody>
</table>